*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100vw;
    background-color: #d2e3e8;
    padding:60px 0 ;
    position: relative;
}
.wrapper button{
    outline: 0;
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
    position: absolute;
    left: 73.6vw;
    top: 25px;
    color: #fff;
    background-color: #088BFF;
    cursor: pointer;
}
.invoice{
    display: block;
    width: 800px;
    min-height: 1042px;
    padding: 30px 0 0 0;
    margin: 0 auto;
    background-color: #fff;
    color: #333; 
    font-family: Calibri, sans-serif;
    font-size: 12px;
    position: relative;
}

.basic{
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 40px 60px;
}

.time{
    display: grid;
    grid-template-columns: repeat(3,minmax(0,4fr));
    background-color: #41a6ff;
}
.time div{
    text-align: center;
    background-color: #088BFF;
    color: #fff;
    border: none;
}
.time div i{
    font-size: 28px;
    margin: 20px 0;
}
.time div:nth-child(2),
.time div:nth-child(5),
.time div:nth-child(8){
    background-color: #41a6ff;
}
.time div:nth-child(7),
.time div:nth-child(8),
.time div:nth-child(9){
    padding: 5px 0 20px 0;
    font-size: 16px;
}


.logo img{
    display: block;
    position:absolute;
    right: 0;
    width: 40%;
}
.right{
    position: relative;
}
.right .r-text{
    position: absolute;
    right: 0;
    text-align: right;
    top:35px;
}
.right .r-text p{
    font-size: 14px;
    padding-top:5px;
}
.right .r-text p i{
    color: #088BFF;
    padding-right: 5px;
}


.order{
    color: #000;
    text-align: left;
    padding-left: 60px;
}
.order p:first-child{
    font-weight: 600;
    font-size: 18px;
    color: #088BFF;
}
.order p:nth-child(2){
    margin-top: 10px;
}

.total{
    margin: 40px 60px;
}
.total p{
    width: 100%;
    border-top: 1px solid #eaeaea;
    padding-left: 10px;
    line-height: 32px;
    position: relative;
    font-weight: 200;
    color: #088BFF;
    font-weight: 600;
}
.total p span{
    color: #333;
    position: absolute;
    left: 270px;
}

.terms{
    color: #fff;
    background-color: #088BFF;
    text-align: left;
    padding: 10px;
    width: 70%;
    margin-left:60px;
    position: relative;
}
.terms::after{
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border-top:24px solid #088BFF;
    border-left:24px solid #088BFF;
    border-right:24px solid transparent;
    border-bottom:24px solid #088BFF;
    right: -48px;
    top: 0;
}

.delivery{
    margin: 60px 60px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.delivery h2{
    font-weight: 400;
    margin-bottom: 10px;
    color: #088BFF;
}
.delivery p{
    line-height: 25px;
    position: relative;
    font-weight: 200;
}

.table{
    margin: 40px 60px;
    display: grid;
    grid-template-columns:repeat(3, minmax(0, 4fr));
    border-top:1px solid #eaeaea;
    border-left:1px solid #eaeaea;
}
.table div{
    border-right:1px solid #eaeaea;
    border-bottom:1px solid #eaeaea;
    padding: 7px 15px;
}
.table div h4{
    color: #088BFF;
}

.last{
    overflow: hidden;
    margin-top: 60px;
}
.last .thanks{
    float: left;
    font-size: 22px;
    padding-left: 60px;
    color: #777777;;
}
.last .signature{
    float: right;
    display: inline;
    margin-right: 60px;
    text-align: center;
    color: #777;
    margin-bottom: 20px;
}
.last .signature p:nth-child(1){
    font-size: 12px;
}
.last .signature p:nth-child(2){
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 5px;
}

.footer{
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 800px;
}